profiles {
  // Local development profile using Docker
  local {
    process {
      executor = "local"
      memory = '32GB'
      cpus = 2
      time = '2h'
      workDir = './work'
      publishDir = [
        path: './results',
        mode: 'copy'
      ]
    }
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    conda.enabled = true
  }

  // HPC profile using Singularity
  cluster {
    process {
      executor = "slurm"
      queue = "genoa64"
      memory = '8G'
      cpus = '1'
      time = '8h'

      publishDir = [
        path: '/no_backup/rg/ileahy/SecORFsearch/results',
        mode: 'copy'
      ]

      env.SELENOPROFILES_DATA_DIR = "/users/rg/ileahy/selenoprofiles_data"
    }

    singularity {
      enabled = true
      cacheDir = "/no_backup/rg/ileahy/Mouse_Analysis/singularity_cache"
      autoMounts = true
      runOptions = "-B ~/selenoprofiles_data"
    }

    conda.enabled = true
  }
}

process {

    withLabel : agat {
        container = 'quay.io/biocontainers/agat:1.5.0--pl5321hdfd78af_0'
        }

    withLabel : gffread {
        container = 'quay.io/biocontainers/gffread:0.12.7--h077b44d_6'
        }

    withLabel : splitfasta {
        container = 'quay.io/biocontainers/seqkit:2.10.0--h9ee0642_0'
        }
    
    withLabel : secissearch {
        container = 'maxtico/seblastian:latest'
        }
    
    withLabel : merge_gff {
        container = 'ubuntu:22.04'
        }    

    withLabel : python {
        container = 'ileahy/biopythonimage:latest'
    }

    withLabel : selenoprofiles {
        container = 'maxtico/selenoprofiles_container:v4.5.5'
    }

    withLabel : samtools {
        container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }
}


