profiles {
  // github development profile using Docker
  github {
    process {
      executor = "local"
      maxForks = 1
      memory = '6GB'
      cpus = 1
      time = '4h'
    }
    docker.enabled = true
    docker.fixOwnership = true
  }

  // Local computer
  local {
    process {
      executor = "local"
      memory = '32GB'
      cpus = 2
      time = '2h'
      workDir = './work'
      publishDir = [
        path: './results',
        mode: 'copy'
      ]
    }
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }

  // HPC profile using Singularity
  cluster {
    process {
      executor = "slurm"
      queue = "genoa64"
      memory = '8G'
      cpus = '1'
      time = '8h'

      publishDir = [
        path: '/no_backup/rg/ileahy/SecORFsearch/results',
        mode: 'copy'
      ]
    }

    singularity {
      enabled = true
      cacheDir = "/no_backup/rg/ileahy/Mouse_Analysis/singularity_cache"
      autoMounts = true
    }

    conda.enabled = true
  }
}

params {
  species_taxid = '10090'
  species_name = 'Mus musculus'
  annotation_url = ''
  fasta_url = ''
  output_dir = 'results'
  geneid_param = "${projectDir}/human3iso.param"
  max_cpus = 4
  max_memory = '8GB'
  help = false
}

process {
    container = 'ghcr.io/iseultl/readthrough:latest'

    withLabel : agat {
        container = 'quay.io/biocontainers/agat:1.5.0--pl5321hdfd78af_0'
        }

    withLabel : gffread {
        container = 'quay.io/biocontainers/gffread:0.12.7--h077b44d_6'
        }

    withLabel : splitfasta {
        container = 'quay.io/biocontainers/seqkit:2.10.0--h9ee0642_0'
        }
    
    withLabel : secissearch {
        container = 'maxtico/seblastian:latest'
        }
    
    withLabel : samtools {
        container = 'biocontainers/samtools:v1.9-4-deb_cv1'
    }
}


